* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue;
}
.container {
    /* display: grid; */
    /* grid-template-columns: auto auto; */
   display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    height: 105vh;
}

/* .left-side, .right-side {
    flex: 1;
} */

.left-side {
    /* width: 100%; */
    flex: 0 0 40%;
    padding: 20px;
    background-color: #fff4cc;
    text-align: center;
    /* border-radius: 10px; */
    /* display: flex; */
    /* flex-direction: column; */
  
}

.left-content {
     margin: 45px 20px;
}

.left-content h3 {
    font-size: 24px;
    text-align: center;
   }

.left-content span {
    color: #ffcc00;
    font-size: 22px;
}

.question {
    text-align:center;
      font-size: 16px;
      padding: 5px;
}

.left-image {
    width:300px;
    height: 300px;
}

/* ENQUIRY FORM ON THE RIGHT SIDE */
.right-side {
    /* width: 100%; */
     flex: 0 0 60%;
    padding: 20px;
    background-color:white;
    /* border-radius: 10px; */
    /* display: flex; */
    /* flex-direction: column; */
}

.enq-form {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.enq-form label {display: block;}

.enq-form input[type=text],input[type=email], input[type=number],select,textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffcc00;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-title h2 {
    margin-bottom: 15px;
}

.form-title span {
    color: #ffcc00;
    margin-bottom: 15px;

}

.checkbox-div {
    padding: 5px;
    margin-bottom: 15px;
}

.checkbox-div label{
   display: inline-flex;
}

.checkbox-div input[type=checkbox] {
    vertical-align: middle;
}

.form-submit-btn {
    /* width: 100%; */
    background: #f4b400;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}